body {
    padding-top: 100px;
}


/* アイテムボックス　ここから */

.item-warp {
    text-decoration: none;
    background: #ffffff;
    color: #000000;
    transition: .5s;
}

.item-warp:hover {
    text-decoration: none;
    background: #bdbdbd3d;
    color: rgb(0, 0, 0);
}

.item-warp:hover .itembox {
    background: rgba(0, 0, 0, 0.219);
    transition: .5s;
}

.item-img {
    background-size: 100% !important;
    background-position-y: center !important;
}

.itembox {
    background: rgba(0, 0, 0, 0.5);
    min-height: 150px;
}

@media(min-width:992px) {
    .itembox {
        height: 200px;
    }
}

.item-c {
    max-height: 130px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

@media(min-width:992px) {
    .item-c {
        max-height: 180px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        overflow: hidden;
    }
}


/* アイテムボックス　ここまで */