/* ページナビ　ここから */

nav.page_nav *,
nav.page_nav *:after,
nav.page_nav *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

nav.page_nav a {
    text-decoration: none;
}

nav.page_nav {
    margin: 0.2em 0;
    text-align: center;
}

.page_nav .pnav_box {
    display: inline-block;
    margin-top: 0.3em;
    padding: 0 0.5em;
}

.page_nav .nav_n {
    font-size: 1em;
    line-height: 50px;
    display: block;
    float: left;
    transition: 400ms ease;
    letter-spacing: 0.1em;
    color: #37474F;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto .5em;
}

.page_nav .nav_n:hover,
.page_nav .nav_n.current {
    font-weight: bold;
    color: #ffffff;
    background-color: rgb(64, 196, 236);
    border-radius: 50%;
}

.page_nav .nav_n.prev:hover,
.page_nav .nav_n.next:hover {
    color: rgb(64, 196, 236);
    background-color: transparent;
    border-radius: 50%;
}

@media only screen and (max-width: 960px) {
    .page_nav .pnav_box {
        margin-top: 50px;
        padding: 0 10px;
    }
    .page_nav .nav_n {
        font-size: 0.8em;
        line-height: 25px;
        width: 45px;
        height: 25px;
        margin: auto .1em;
        border-radius: 0.3em;
    }
    .page_nav .nav_n.prev,
    .page_nav .nav_n.next {
        padding: 0 25px 0 0;
    }
    .page_nav .nav_n:hover,
    .page_nav .nav_n.current {
        border-radius: 0.3em;
    }
    .page_nav .nav_n.prev:hover,
    .page_nav .nav_n.next:hover {
        border-radius: 0.3em;
    }
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
    .page_nav .nav_n {
        display: none;
        border-radius: 0.3em;
    }
    .page_nav .nav_n:nth-of-type(2) {
        position: relative;
        padding-right: 20px;
    }
    .page_nav .nav_n:nth-of-type(2)::after {
        font-size: 1.2em;
        position: absolute;
        top: 0;
        left: 25px;
        content: '...';
    }
    .page_nav .nav_n:nth-child(-n+3),
    .page_nav .nav_n:nth-last-child(-n+3) {
        display: block;
    }
    .page_nav .nav_n:nth-last-child(-n+4) {
        padding: 0 5px;
    }
    .page_nav .nav_n:nth-last-child(-n+4)::after {
        content: none;
    }
    .page_nav .nav_n:hover,
    .page_nav .nav_n.current {
        border-radius: 0.3em;
    }
    .page_nav .nav_n.prev:hover,
    .page_nav .nav_n.next:hover {
        border-radius: 0.3em;
    }
}


/* ページナビ　ここまで */