.inp {
    display: none;
}

.h-box .h-cont {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

.inp:checked+label {
    padding: 0px;
    background: #00eaff;
    opacity: 1;
}

#la1:checked~.x {
    height: auto;
    padding: 0px;
    background: #ff0000;
    opacity: 1;
}

#la2:checked~.y {
    height: auto;
    padding: 0px;
    background: #ff0000;
    opacity: 1;
}

#la3:checked~.z {
    height: 20px;
    padding: 0px;
    opacity: 1;
    background-color: #26ff00;
}