<div class="col-12">
    <div class="row pb-1 ">
        <a href="{{url}}" class="col-12 item-img item-warp" style="background:linear-gradient(45deg,rgb({{c1}},{{c2}},{{c3}}),rgb({{c4}},{{c5}},{{c6}}));">
            <div class="row itembox side justify-content-center align-items-center">
                <div class="col-12 px-5 px-md-2 ">
                <span class="h5"><span class="badge badge-pill badge-info ">{{gousu}}</span>
                </span>
                <span class="h5"><span class="badge badge-pill badge-danger ">pdf</span>
                </span>
                    <h3 class="h5 mt-2 "><strong>{{title}}</strong></h3>
                    <p class="text-right">{{name}}&nbsp研究室</p>
                </div>
            </div>
        </a>
    </div>
</div>
