<div class="col-12 border">
  <a href="{{url}}" class="row item-warp">
    <div class="col-6 item-img" style="background:linear-gradient(45deg,rgb({{c1}},{{c2}},{{c3}}),rgb({{c4}},{{c5}},{{c6}}));">
      <div class="row itembox justify-content-center align-items-center">
        <div class="col-12 p-3 text-white">
          <span class="h5"><span class="badge badge-pill badge-primary ">{{gakuin}}</span>
          </span>
          <span class="h5"><span class="badge badge-pill badge-info ">{{gousu}}</span>
          </span>
          <span class="h5"><span class="badge badge-pill badge-danger ">pdf</span>
          </span>
          <h3 class="h5 mt-2 mb-1"><strong>{{title}}</strong></h3>
          <p class="text-right mt-2 h6 text-white">{{name}}&nbsp研究室</p>
        </div>
      </div>
    </div>
    <div class="col-6 p-3" style="max-height: 150px;">
      <div class="item-c">
        <h5>概要</h5>
        <hr class="my-0">
        {{概要}}
      </div>
    </div>
  </a>
</div>
